#header-nav {
  background-color: #D3D3D3;
  border-radius: 0;/*丸みをとる*/
  border: 0;
  padding-bottom: 20px;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}
/*レストラン名*/
.navbar-brand h1 { 
  color: black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  text-align: center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.title {
  text-align: center;
}

#chicken, #beef, #sushi {
  background-color:#D3D3D3;
  margin-top: 20px;
  padding: 10px;
}





/********** md **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** sm **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** xs **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}

